#smp-landing {
    background-image: url("../media/spawn_fireworkstore-min.png");
}

#body-center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#body-center-title {
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#body-center-subtitle {
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#body-center-subtitle span {
    font-weight: bold;
}

#map {
    border: none;
    width: 90%;
    height: 900px;
}