#body-center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#body-center-title-flex {
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
    color: white;
}